<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>an_user_testimonials</name>
    <displayName><![CDATA[User testimonials]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[User testimonials]]></description>
    <author><![CDATA[Anvanto]]></author>
    <tab><![CDATA[others]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall the module?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>